@model Recipyyy.Models.Cuisine

@{
    ViewBag.Title = "Details";
}

<div class="container col-md-8 justify-content-center mt-1 mb-4">
    <h2>Cuisine : @Model.cuisineName</h2>
    <hr />
    
    <!-- Single Job -->
    <div class="col-md-8 justify-content-center"  style="margin:auto">
        <div class="job-grid style-1">
            <div class="job-grid-wrap">
                <span class="job-type j-part-time">Part Time</span>
                <div class="job-grid-thumb">
                    <a href="job-detail.html"><img src="@Url.Content(Model.cuisineImagePath)" class="img-fluid mx-auto" alt="" /></a>
                </div>
                <h4 class="job-title"><a href="job-detail.html">@Model.cuisineName</a></h4>
                <hr>
                <div class="job-grid-detail">
                    <p>@Model.cuisineDescription</p>
                </div>
                <div class="job-grid-footer justify-content-center">
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-outline-primary mt-2 mx-2 col-md-4" })
                    @Html.ActionLink("Edit", "Edit", new { id = Model.cuisineId } ,new { @class = "btn btn-primary mt-2 mx-2 col-md-4" }) 
                </div>
            </div>
        </div>
    </div>

</div>

