@using Recipyyy.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<!-- ============================ Login ================================== -->
<section id="loginForm">
    <div class="container col-md-8 justify-content-center">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4 class="modal-header-title">Log <span>In</span></h4>

            <div class="login-form">
                <form>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        <label>User Email</label>
                        <div class="input-with-icon">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            <i class="ti-user"></i>
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Password</label>
                        <div class="input-with-icon">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            <i class="ti-unlock"></i>
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" value="Log in" class="btn btn-primary btn-md full-width pop-login">Login</button>
                    </div>
                    <p>
                        @Html.ActionLink("Register as a new user", "Register", null, new { @class = "btn btn-outline-primary btn-md full-width pop-login" })
                    </p>
                </form>
            </div>

        }
    </div>
</section>
<div class="clearfix"></div>
<!-- ============================ Login end================================== -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}