@model Recipyyy.Models.Cookbook

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cookbook</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cookbookName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cookbookName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cookbookDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cookbookDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.cookbookId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
