@model IEnumerable<Recipyyy.Models.Cookbook>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cookbookName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cookbookDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cookbookName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cookbookDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.cookbookId }) |
            @Html.ActionLink("Details", "Details", new { id=item.cookbookId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.cookbookId })
        </td>
    </tr>
}

</table>
